@import url("/resources/css/page/membertype.css");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size:1rem;
}
a,
#bootstrap-overrides a,
#dropdownMenuLink a{
	color: black;
	vertical-align: middle;
	text-decoration: none;
}

.nav-link, .nav-link:focus, .nav-link:hover,
#dropdownMenuLink > nav .open .dropdown #dropdownMenuLink{
	color: black;
}

#upper-menu a, #footer-menu a{
	font-size: 0.75rem;
}

ul{
	list-style: none;
}
body{
	overflow-y: scroll;
}


