.profile-area img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor:pointer;
}

.wrapper {
	float: left;
}

.content {
	margin-top: 20px;
	float: right;
}

.nav-item{
	border-radius:100px;
}

.nav-item:not(.clicked):hover {
	border:1px solid lightgray;
	cursor: pointer;
}

.nav-item:active {
	border:1px solid #28a745;
}

.clicked {
	border:1px solid #28a745;
}

.first-card {
	margin: 0px auto;
	border-radius: 12px;
	box-shadow: rgb(0 0 0/ 15%) 0px 2px 4px 0px, rgb(0 0 0/ 30%) 0px 0px 1px
		0px;
	display: flex;
	flex-direction: column;
}

.first-card-header {
	padding: 20px;
}

#wrap {
	overflow: hidden;
	min-width: 1600px;
}

.btn-input {
	font-size: 18px;
	margin: 0px 50px;
	background-color: white;
	width: 150px;
	height: 50px;
	color: #28a745;
	font-weight: bold;
	border: 1px solid #28a745;
	border-radius: 5px;
}

.btn-input:hover {
	background-color: #28a745;
	color: white;
	cursor: pointer;
}

.btn-input:active {
	background-color: #28a745;
	color: white;
}

.btns {
	display: inline-block;
	width: 500px;
	height: 50px;
	margin: 70px auto 80px auto;
}

input[type=checkbox] {
	zoom: 1.5;
	float: left;
}

.cart-body {
	padding: 0px 25px 25px 25px;
}

.product-detail {
	padding: 0px 5%;
	width: 40%;
}

.product-price {
	width: 30%;
	border-left: 1px solid #ddd;
	padding: 0px 5%;
}

.delivery-price {
	width: 30%;
	border-left: 1px solid #ddd;
	padding: 0px 5%;
}

.delivery-title {
	font-size: 12px;
	color: #28a745;
}

.all-product-select {
	display: flex;
	margin: 0px auto;
	padding: 20px;
}

.all-check {
	margin: 4px 5px 0px 0px;
}

.all-check-title {
	margin: auto 3px;
	font-size: 18px;
	font-weight: bold;
}

.total-price, .total-delivery-fee, .last-price {
	display: inline-block;
	margin: 3px 0px;
	font-weight: bold;
}

.last-price {
	color: rgb(230, 0, 0);
}

.total-card {
	margin: 0px auto;
	border-radius: 12px;
	box-shadow: rgb(0 0 0/ 15%) 0px 2px 4px 0px, rgb(0 0 0/ 30%) 0px 0px 1px
		0px;
}

.total-card>div {
	padding: 10px 3px;
}

.file {
	display: none;
}

