.profile-area img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor: pointer;
}

.wrapper {
	float: left;
}

.content {
	margin-top: 20px;
	float: right;
}

.nav-item a:hover {
	background-color: lightgray;
	color: white;
	cursor: pointer;
}

.nav-item a:active {
	background-color: lightgray;
	color: white;
}

.clicked {
	background-color: lightgray;
	color: white;
}

.first-card {
	margin: 0px auto;
	border-radius: 12px;
	box-shadow: rgb(0 0 0/ 15%) 0px 2px 4px 0px, rgb(0 0 0/ 30%) 0px 0px 1px
		0px;
	display: flex;
	flex-direction: column;
}

.first-card-header {
	padding: 20px;
}

#wrap {
	overflow: hidden;
	min-width: 1600px;
}

.file {
	display: none;
}


.user-info-edit-title {
	margin: 10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

td {
	text-align: left;
	padding: 2px 20px 5px 0px;
}

.address2, .address3 {
	width: 300px;
}

.address1 {
	width: 100px;
}

.user-info-table {
	display: inline-block;
	float: center;
	padding-bottom: 30px;
}

.btn-profile {
	font-size: 12px;
	font-weight: bold;
	color: #28a745;
	width: 90px;
	height: 30px;
	background-color: white;
	border: 1px solid #28a745;
	float: left;
	border-radius: 5px;
	padding: 0;
}

.btn-post {
	font-size: 12px;
	font-weight: bold;
	color: #28a745;
	width: 90px;
	height: 30px;
	background-color: white;
	border: 1px solid #28a745;
	border-radius: 5px;
	padding: 0;
	margin: 2px 0px 2px 8px;
}

button:hover {
	background-color: #28a745;
	color: white;
	cursor: pointer;
}

button:active {
	background-color: #28a745;
	color: white;
}

.wrong-pwd {
	margin: 0;
	font-size: 12px;
	color: red;
}