.profile-area img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	cursor:pointer;
}

.wrapper {
	float: left;
}

.nav-item{
	border-radius:100px;
}

.nav-item:not(.clicked):hover {
	border:1px solid lightgray;
	cursor: pointer;
}

.nav-item:active {
	border:1px solid #28a745;
}

.clicked {
	border:1px solid #28a745;
}

.first-card {
	margin: 0px auto;
	border-radius: 12px;
	box-shadow: rgb(0 0 0/ 15%) 0px 2px 4px 0px, rgb(0 0 0/ 30%) 0px 0px 1px
		0px;
	display: flex;
	flex-direction: column;
}

.first-card-header {
	padding: 20px;
}

.btn-wrap {
	text-align: center;
	display: inline-block;
	width: 70px;
	height: 40px;
	margin: 2% 0;
}

.content {
	display: inline-block;
	margin-top: 20px;
	float: right;
}

.btn-delete {
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	color: #28a745;
	width: 60px;
	height: 30px;
	background-color: white;
	border: 1px solid #28a745;
	border-radius: 5px;
	margin-top:8px;
}

button:hover, input[type=submit]:hover, input[type=button]:hover {
	background-color: #28a745;
	color: white;
	cursor: pointer;
}

button:active, input[type=submit]:active, input[type=button]:active {
	background-color: #28a745;
	color: white;
}

.second-card {
	border: 1px solid rgb(238, 238, 238);
	border-radius: 10px;
	margin: 20px;
	margin-top: 0px;
}

.orderlist-body {
	padding: 25px 0px 25px 25px;
	border-bottom: 1px solid lightgray;
}

.product-detail {
	width: 250px;
	margin-left: 20px;
	float: left;
}

.star {
	display: inline-block;
	margin-bottom: 7px;
	font-size: 30px;
	color: #ffd633;
}

.title {
	padding: 10px 20px 8px 10px;
}

.select-review-wrapper {
	display: inline-block;
	margin: 40px;
	float: left;
}

.product-img {
	display: inline-block;
	width: 150px;
	float: left;
}

#wrap {
	overflow: hidden;
	min-width: 1600px;
}

td {
	text-align: left;
}

.button {
	text-align: left;
}

.btn-month {
	color: #28a745;
	font-size: 14px;
	background-color: white;
	border: 1px solid #28a745;
	border-radius: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	width: 80px;
}

.month-wrapper {
	display: inline-block;
	float: center;
}

.clicked-month {
	background-color: #28a745;
	color: white;
}

.file {
	display: none;
}

.edit-star{
	cursor:pointer;
}

.review-img{
	margin-bottom:20px;
}