.btn-wrap {
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 50px;
	margin: 2% 0;
}

.btn-write {
	font-size: 15px;
	font-weight: bold;
	color: #28a745;
	width: 100px;
	height: 40px;
	background-color: white;
	border: 1px solid #28a745;
	border-radius: 5px;
	float: center;
}

.btn-write:hover {
	background-color: #28a745;
	color: white;
	cursor: pointer;
}

.btn-write:active {
	background-color: #28a745;
	color: white;
}

.second-card {
	border: 1px solid rgb(238, 238, 238);
	border-radius: 10px;
	margin: 20px;
	margin-top: 0px;
}

.orderlist-body {
	padding: 25px 0px 25px 25px;
	border-bottom: 1px solid lightgray;
}

.product-detail {
	width: 200px;
	margin-left:20px;
	float:left;
}

.first-card {
	margin: 0px auto;
	border-radius: 12px;
	box-shadow: rgb(0 0 0/ 15%) 0px 2px 4px 0px, rgb(0 0 0/ 30%) 0px 0px 1px
		0px;
	display: flex;
	flex-direction: column;
}

.first-card-header {
	padding: 20px;
}

#wrap {
	overflow: hidden;
	min-width: 1600px;
}

.star {
	display: inline-block;
	margin-bottom: 7px;
	font-size:30px;
	color:#ffd633;
}

.star:hover {
	cursor: pointer;
}

.content {
	display: inline-block;
	margin-top:20px;
	float:right;
}

.title {
	padding: 10px 20px 8px 60px;
}

.title-input {
	display: inline-block;
	width: 350px;
}

.byte {
display: inline-block;
	padding-left: 10px;
}
.write-review-wrapper{
	display:inline-block;
	margin:20px auto 0px auto;
}
.product-img{
	display:inline-block;
	width:150px;
	float:left;
}
.review-content{
	display: inline-block;
	text-align:top;
}