	#join-background{
		background: url('/resources/images/apples.jpg') no-repeat 0 0;;
		height: 45em;
		position: relative;
		z-index: 1;
	}
	#join-background::before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background-color: gray;
		opacity: 0.6;
	}
	#join-background p{
		color: white;
	}